gym
mlagents
gym_unity
torch
torchvision

{
    0: 8,
    1: 0,
    2: 4,
    3: 2,
    4: 14,
    5: 10,
    6: 12,
    7: 6,
    8: 9,
    9: 1,
    10: 5,
    11: 3,
    12: 15,
    13: 11,
    14: 13,
    15: 7,
}
{
    0: 8,
    1: 0,
    2: 4,
    3: 2,
    4: 14,
    5: 10,
    6: 12,
    7: 6,
    8: 13,
    9: 7,
    10: 11,
    11: 3,
    12: 15,
    13: 9,
    14: 5,
    15: 1,
}